    <!-- Page Header -->
    <header class="masthead" style="background-image: url('assets/img/productos.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Productos</h1>
              <span class="subheading">Listado de productos</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  

      <!-- Main Content -->
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-10 mx-auto">
            <h2 class="section-heading">Listado de productos</h2>
            <a mat-button routerLink="/productos/agregar" class="btn btn-primary float-right">Crear producto</a>
            <table mat-table [dataSource]="dataSource">
            
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> Id. </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="descripcion">
                  <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                  <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef> Precio </th>
                    <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
                </ng-container>
            
                <ng-container matColumnDef="getdetails">
                  <th mat-header-cell *matHeaderCellDef> Acción </th>
                  <td mat-cell *matCellDef="let element"> <button mat-raised-button class="btn btn-secondary" (click)="mostrarProductos(element)">Mostrar</button> </td>
                </ng-container>
              
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
          </div>
        </div>
      </div>
    
      <hr>